{{ form_open({'class': 'form-horizontal'}) }}
    <fieldset>
        <div class="form-group">
            <label for="username" class="control-label">UserName</label>
            {{ form_input( 'username', input_post('username', user.username), { 'class': 'col-md-4 form-control', 'placeholder': 'UserName' } ) }}
        </div>
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            {{ form_input( 'email', input_post('email', user.email), { 'class': 'col-md-4 form-control', 'placeholder': 'Email' } ) }}
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            {{ form_input( 'password', input_post('password', user.password), { 'class': 'col-md-4 form-control', 'placeholder': 'Password' } ) }}
        </div>

        <div class="form-group">
            <label class='control-label'>&nbsp;</label>
            <button type="submit" class="btn btn-primary">登録</button>
            <button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
        </div>
    </fieldset>
{{ form_close() }}
